@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contact-h1:visited { text-decoration: none; color:white; }
.portfolio-links:visited { text-decoration: none; color: black;}


/* <-------------------------nav bar-----------------------------> */
li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.nav-main {
	display: flex;
	justify-content: space-around;
	min-height: 10vh;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #191919;
	color: white;
}

nav .logo {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
}

nav .nav-links {
	display: flex;
	justify-content: space-around;
	width: 35%;
}

nav .nav-links a {
	font-size: 18px;
	font-weight: normal;
	cursor: pointer;
}

nav .nav-btns {
	font-size: 18px;
	font-weight: normal;
	cursor: pointer;
	border: none;
	background: none;
	color: #fff;
}

nav .nav-links a:hover {
	border-bottom: 1px solid #fff;
}

nav .nav-btns:hover {
	border-bottom: 1px solid #fff;
}

nav .burger {
	font-size: 28px;
	display: none;
	cursor: pointer;
}

@media all and (max-width: 900px) {
	nav .burger {
		display: block;
	}

	nav .nav-links {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		height: 100vh;
		background-color: #262626;
		padding: 40px;
		width: 40%;
		transform: translateX(-500px);
		transition: 0.4s ease-in-out;
	}

	nav .nav-links li {
		padding: 25px;
		border-bottom: 1px solid #ccc;
	}

	nav .nav-links li:last-of-type {
		border-bottom: 0px solid #ccc;
	}

	nav .nav-links a:hover {
		border-bottom: 0px solid #fff;
	}
}
/*<-------------------------nav bar-----------------------------> */

/*<-------------------------Home-----------------------------> */
.home-container {
	background-image: url('photos/lake.jpg');
	height: 30rem;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
}

.home-underline {
	border-color: white;
	width: 100%;
}

#home-h3 {
	margin-left: 1.3rem;
}

/*<-------------------------Home-----------------------------> */

/*<-------------------------About-----------------------------> */

.about-container {
	margin-top: 1.8rem;
}

#about-h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.3rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	padding-bottom: .5rem;
}

.about-div{
	display: flex;
	justify-content: center;
	align-items: center;
}

#about-p {
	color: #FF8333;
	width: 60%;
	display: flex;
	justify-content: space-around;
	font-size: 1.8rem;
	font-family: 'Handlee', cursive;
}



/*<-------------------------About-----------------------------> */

/*<-------------------------Project Cards-----------------------------> */

.project-container {
	margin-top: 1.8rem;
}

#project-h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.8rem;
	font-size: 3.3rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.project-cards {
	display: flex;
	justify-content: space-around;
}

.project-card-one {
	width: 50vh;
	height: 40vh;
	border: 1px solid black;
	background-color: white;
}

.card-background-one {
	background-image: url('photos/spanish-cards.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 80%;
	width: 100%;
}

.project-card-two {
	width: 50vh;
	height: 40vh;
	border: 1px solid black;
	background-color: white;
}

.card-background-two{
	background-image: url('photos/trending-news.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 80%;
	width: 100%;
}

.project-card-three {
	width: 50vh;
	height: 40vh;
	border: 1px solid black;
	background-color: white;
}

.card-background-three{
	background-image: url('photos/orange.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 80%;
	width: 100%;
}

.card-btns {
	display: flex;
	justify-content: space-around;
}

.project-github-btn {
	background-color: black;
	border-radius: 2px;
	color: white;
	text-decoration: none;
	border: none;
	padding: 15px 32px;
}

.project-live-btn {
	background-color: black;
	border-radius: 2px;
	color: white;
	text-decoration: none;
	border: none;
	padding: 15px 32px;
}
/*<-------------------------Project Cards-----------------------------> */

/*<-------------------------Contact-----------------------------> */
.contact-container {
	margin-top: 1.8rem;
	margin-bottom: .8rem;
}

.contact-h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.3rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.contact-info {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contact-logo {
	width: 9vh;
	height: 7vh;
	padding-right: 1rem;
}

#linkedin {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
}

#email {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
}

#phone {
	display: flex;
	align-items: center;
}
/*<-------------------------Contact-----------------------------> */
