@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contact-h1:visited { text-decoration: none; color:white; }
.portfolio-links:visited { text-decoration: none; color: black;}


/* <-------------------------nav bar-----------------------------> */
li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.nav-main {
	display: flex;
	justify-content: space-around;
	min-height: 10vh;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #232126;
	color:#BFBDBF;
}

nav .logo {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
}

nav .nav-links {
	display: flex;
	justify-content: space-around;
	width: 35%;
}

nav .nav-links a {
	font-size: 18px;
	font-weight: normal;
	cursor: pointer;
}

nav .nav-btns {
	font-size: 18px;
	font-weight: normal;
	cursor: pointer;
	border: none;
	background: none;
	color: #BFBDBF;
}

nav .nav-links a:hover {
	border-bottom: 1px solid #fff;
}

nav .nav-btns:hover {
	border-bottom: 1px solid #fff;
}

nav .burger {
	font-size: 28px;
	display: none;
	cursor: pointer;
}

@media all and (max-width: 900px) {
	nav .burger {
		display: block;
	}

	nav .nav-links {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		height: 100vh;
		background-color: #232126;
		padding: 40px;
		width: 40%;
		transform: translateX(-500px);
		transition: 0.4s ease-in-out;
	}

	nav .nav-links li {
		padding: 25px;
		border-bottom: 1px solid #ccc;
	}

	nav .nav-links li:last-of-type {
		border-bottom: 0px solid #ccc;
	}

	nav .nav-links a:hover {
		border-bottom: 0px solid #fff;
	}
}
/*<-------------------------nav bar-----------------------------> */

/*<-------------------------Home-----------------------------> */
.home-container {
	background-color: #232126;
	height: 100vh;
	color: #BF1523;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	font-family: 'Megrim', cursive;
}

.home-underline {
	border-color: #BFBDBF;
	width: 100%;
}

#home-h3 {
	margin-left: 1.3rem;
}

/*<-------------------------Home-----------------------------> */

/*<-------------------------About-----------------------------> */

.about-container {
	background-color: #232126;
	height: 60vh;
	padding-top: 5rem;
}

#about-h1 {
	color: #BFBDBF;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.3rem;
	font-family: 'Barlow Condensed', sans-serif;
	padding-bottom: .2rem;
}

.about-div{
	display: flex;
	justify-content: center;
	align-items: center;
}

#about-p {
	color: #BF1523;
	width: 60%;
	display: flex;
	justify-content: space-around;
	font-size: 1.8rem;
	font-family: 'Kosugi', sans-serif;
}

@media(max-width: 1600px){
	#about-p {
		width: 70%;
		font-size: 1.5rem;
	}
}

@media(max-width: 800px){
	#about-p {
		width: 85%;
		font-size: 1.1rem;
	}
}



/*<-------------------------About-----------------------------> */

/*<-------------------------Project Cards-----------------------------> */

.card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background: #232126;
}

.card {
	width: 270px;
	margin: 10px;
	border-radius: 10px;
	background: whitesmoke;
}

.card-image {
	background-color: aqua;
	height: 150px;
	margin-bottom: 15px;
	background-size: cover;
	border-radius: 10px 10px 0 0;
}

.card-one {
	background-image: url('./photos/spanish-cards.png');
}

.card-two {
	background-image: url('./photos/trending-news.png');
}

.card-three {
	background-image: url('./photos/orange.png');
}

.card-four {
	background-image: url('./photos/quote.png');
}

.card-btns a{
	background-color: black;
	color: white;
	padding: 15px 20px;
	display: block;
	text-align: center;
	margin: 20px 50px;
	border-radius: 5px;
	font-family: 'Barlow Condensed', sans-serif;
}

#project-h1 {
	color: #BFBDBF;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.3rem;
	font-family: 'Barlow Condensed', sans-serif;
	padding-bottom: .5rem;
	background: #232126;
}



/*<-------------------------Project Cards-----------------------------> */

/*<-------------------------Contact-----------------------------> */
.contact-container {
	background-color: #232126;
	color: #BFBDBF;
}

.contact-h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.3rem;
	font-family: 'Barlow Condensed', sans-serif;
	color: #BFBDBF;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.contact-info {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contact-logo {
	width: 9vh;
	height: 7vh;
	padding-right: 1rem;
}

#linkedin {
	display: flex;
	align-items: center;
	text-decoration: none;
}

#linkedin a {
	color: #BFBDBF;

}

#email {
	display: flex;
	align-items: center;
	text-decoration: none;
}

#email a{
	color: #BFBDBF;

}

#phone {
	display: flex;
	align-items: center;
}
/*<-------------------------Contact-----------------------------> */
